.about {
  padding-top: 70px;
  @media ($tablet) {
    padding-top: 198px;
  }
  &__image-container {
    max-width: 616px;
  }
  &__image {
    height: 240px;
    border-top-right-radius: 21%;
    object-fit: cover;
    width: calc(100% - 24px - 27px);
    @media ($tablet) {
      margin-left: 50px;
      margin-right: 46px;
      height: 448px;
      width: calc(100% - 50px - 46px);
    }
  }
  &__graphic {
    width: 68px;
    height: 69px;
    right: 0;
    bottom: -30px;
    background-image: url(../images/logo/card-graphic-about.svg);
    @media ($tablet) {
      width: 128px;
      height: 128px;
      bottom: -56px;
    }
  }
  &__icon {
    top: 34px;
    background-image: url(../images/logo/card-icon-bag.svg);
    @media ($tablet) {
      top: 64px;
    }
  }
  &__border-line {
    &_size {
      &_long {
        bottom: -8px;
        left: 19px;
        width: 80%;
        height: 80%;
        @media ($tablet) {
          bottom: -16px;
          left: 34px;
        }
      }
      &_short {
        left: 11px;
        bottom: -15px;
        width: 70px;
        height: 85px;
        @media ($tablet) {
          left: 20px;
          bottom: -29px;
          width: 132px;
          height: 160px;
        }
      }
    }
  }
  &__content-container {
    max-width: 548px;
    margin: 63px 0 0;
    @media ($tablet) {
      max-width: 470px;
    }
  }
}
