.button {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 700;
  color: $white;
  background: $red;
  padding: 7px 40px;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 2;
  text-transform: uppercase;
  border: $red solid 1px;
  border-radius: 8px;
}