.button {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 700;
  color: $white;
  background: $red;
  text-align: center;
  letter-spacing: 1px;
  font-size: 16px;
  height: 48px;
  width: 154px;
  text-transform: uppercase;
  border: $red solid 1px;
  border-radius: 6px;
  &_type {
    &_long {
      width: 170px;
    }
    &_transparent {
      color: $red;
      background: none;
      border: 1px solid rgba(240, 117, 102, 0.236809);
    }
  }
}
