.capabilities {
  background: url(../images/logo/capabilities-background.svg) left -135px top 0 no-repeat;
  background-size: 363px 349px;
  padding-top: 56px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  justify-content: center;
  width: 100%;
  gap: 32px 30px;
  &__card {
    padding: 31px 31px 37px;
    border: 1px solid #e6edf5;
    //todo: add color var
    border-radius: 8px;
    background: $white;
  }
  &__icon {
    padding-bottom: 78px;
  }
  &__paragraph {
    margin: 18px 0 0;
  }
}