.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  @media (min-width: 1024px) {
    justify-content: space-between;
  }

  &__content-container {
    justify-self: self-end;
    flex: 1 0 330px;
  }

  &__paragraph {
    margin: 0;
    font-size: 20px;
    line-height: 1.6;
  }

  &__image-container {
    position: relative;
    flex: 1 0 330px;
  }

  &__icon {
    position: absolute;
    left: 0;
    background: #4db282 center no-repeat;
    background-size: 26px;
    width: 54px;
    height: 54px;
    border-radius: 100% 100% 8px 100%;
    box-shadow: 0 16px 24px rgba(77, 60, 0, 0.16);
    @media ($tablet) {
      background-size: 48px;
      width: 100px;
      height: 100px;
    }
  }

  &__graphic {
    position: absolute;
    background: #fff no-repeat;
    background-size: contain;
    border-radius: 8px;
    box-shadow: 0 24px 48px rgba(86, 66, 0, 0.08);
  }

  &__image {
    display: block;
    position: relative;
    background: #d8d8d8;
    min-height: 288px;
    margin-right: 24px;
    margin-left: 27px;
    border-radius: 8px;
    overflow: hidden;
    @media ($tablet) {
      min-height: 480px;
      min-width: 360px;
      margin-left: 48px;
      margin-right: 38px;
    }
  }

  &__border-line {
    position: absolute;
    border-radius: 8px;

    &_size {
      border-radius: 8px;
      &_long {
        background: #fbd34b;
      }

      &_short {
        background: #f07566;
      }
    }
  }
}