.company {
  padding-top: 107px;

  &__card {
  }

  &__content-container {
    margin-top: 80px;
  }

  &__title {
    margin: 19px 0;
  }

  &__paragraph {
    margin: 19px 0 39px;
  }

  &__image-container {
    @media (min-width: 768px) {
      order: 1;
    }
  }

  &__icon {
    top: 58px;
    left: -3px;
    background-image: url(../images/logo/card-megaphone.svg);
    width: 60px;
    height: 60px;
    @media ($tablet) {
      top: 96px;
    }
  }

  &__graphic {
    width: 130px;
    height: 77px;
    left: 0;
    bottom: -28px;
    background-image: url(../images/logo/company-graph.svg);
    @media ($tablet) {
      bottom: -48px;
      width: 217px;
      height: 128px;
    }
  }

  &__border-line {
    &_size {
      &_long {
        display: none;
      }

      &_short {
        right: 0;
        top: 94px;
        width: 40px;
        height: 110px;
        @media ($tablet) {
          bottom: 139px;
          height: 184px;
        }
      }
    }
  }
}
