.company {
  padding-top: 107px;
  background: url(../images/logo/header-background.svg) right -275px top -90px no-repeat;
  flex-direction: row-reverse;
  @media (min-width: 530px) {
    padding-top: 171px;
  }

  &__content-container {
    max-width: 570px;
  }

  &__category {
    margin-top: 80px;
    margin-bottom: 21px;
  }

  &__title {
    margin-bottom: 18px;
  }

  &__paragraph {
    margin-bottom: 39px;
  }

  &__image-container {
    max-width: 548px;
  }

  &__image {
    border-top-left-radius: 21%;
  }

  &__icon {
    top: 57px;
    background-image: url(../images/logo/card-megaphone.svg);
    @media (min-width: 530px) {
      top: 96px;
    }
  }

  &__graphic {
    width: 130px;
    height: 77px;
    left: 0;
    bottom: -28px;
    background-image: url(../images/logo/company-graph.svg);
    @media (min-width: 530px) {
      bottom: -48px;
    }
  }

  &__border-line {
    &_size {
      &_long {
        display: none;
      }

      &_short {
        right: 0;
        bottom: 69px;
        width: 50px;
        height: 184px;
        @media (min-width: 530px) {
          bottom: 139px;
        }
      }
    }
  }
}