.portfolio {
  text-align: center;
  padding-top: 106px;
  &__category {
    margin-bottom: 21px;
  }
  &__title {
    margin-bottom: 28px;
  }
  &__paragraph {
    margin: 0 auto 69px;
    max-width: 770px;
  }
  &__list {
    width: 100%;
    display: grid;
    gap: 53px 30px;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    padding: 0;
    margin: 0;
    list-style: none;
    @media ($tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__image-container {
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;
  }
  &__number {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 96px;
    height: 96px;
    background: $green;
    color: $white;
    border-top-right-radius: 24px;
    padding-top: 29px;
  }
  &__image {
    display: block;
    width: 100%;
    height: 222px;
    object-fit: cover;
    @media (min-width: 768px) {
      height: 384px;
    }
  }
  &__card-title {
    margin-bottom: 3px;
  }
  &__card-paragraph {
    margin: 0;
  }
}