.text {
  &_color {
    &_gray {
      opacity: 0.5;
    }
  }

  &_size {
    &_big {
      font-size: 20px;
      line-height: 1.6;
    }

    &_small {
      font-size: 14px;
      line-height: 1.71;
    }
  }
}
