.title {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  color: #333;
  margin: 0;

  &_size {
    &_xxl {
      font-size: 56px;
      line-height: 1.16;
      @media (min-width: 530px) {
        font-size: 72px;
        line-height: 1.11;
      }
    }

    &_xl {
      font-size: 40px;
      line-height: 1.2;
      @media (min-width: 530px) {
        font-size: 56px;
        line-height: 1.14;
      }
    }

    &_l {
      font-size: 40px;
      line-height: 1.2;
    }

    &_m {
      letter-spacing: 0;
      font-size: 24px;
      line-height: 1.33;
    }

    &_s {
      display: inline-flex;
      align-items: center;
      color: $red;
      letter-spacing: 1px;
      font-size: 16px;
      line-height: 2;
      text-transform: uppercase;

      &::before {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        background: $red;
        border-radius: 100%;
        margin-right: 12px;
      }
    }
  }

  &_color {
    &_green {
      color: $green;
      display: inline-block;

      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 23px;
        transform: translate(-3px, -9px);
        background: url(../images/logo/title-underline.svg) center / contain no-repeat;
      }
    }
  }
}